<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Ctrl Alt Defeat Home
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="../static/js/foo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="d-flex flex-row-reverse bg-success-subtle p-2">
            <form action="/logout" method="GET">
                <button class="btn btn-outline-dark" value="logout"> Logout </button>
            </form>
        </div>
        <div class="container-fluid"> 
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-4">
                    <img src="../static/lyle.png" width="120%">
                </div>
                <div class="col-8">
                    <h1 class="text-center text-success-emphasis">La La Lyle</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-success-subtle p-4">
            <div class="row">
                <div class="col-4">
                    <h2 class="text-center text-success-emphasis">Playlists</h2>
                </div>
                <div class="col-8">
                    <p> Welcome to La La Lyle, Team Ctrl+Alt+Defeat's Karaoke website
                        inspired by the cartoon character and latest film adaptation, Lyle Lyle Crocodile.
                        Lyle is a singing crocodile, making him an apt mascot for our site!
                    </p>
                    <p> To get started, use the search bar below to add songs to playlists for a curated
                        Karoake session!
                    </p>

                    <form action="/search" method="POST">
                        <div class = "form-group row mb-4">
                            <label for="Song and Artist">Song - Artist</label>
                            <input type="text" class="form-control" name="songInput" id="songInput" placeholder="Top of the World - Shawn Mendes">
                        </div>
                        <div class="form-group row mb-4">
                           <button type="submit" class="btn btn-outline-success" id="b">
                                <span id="search">Search</span>
                            </button>
                       </div>
                    </form>
                    
                </div> 
            </div>
        </div>
    </body>
</html>